.project__overview__container {
  display: flex;
  width: 100%;
  height: 100%;
}

.project__overview__section1 {
  width: 65%;
}

.project__overview__section2 {
  flex: 1;
  border-left: 1px solid #e6e6e6;
}

.po__banner {
  height: 25vh;
  width: 100%;
  background: #e6e6e6;
}

.po__banner__header {
  padding: 50px;
  font-size: 23px;
  font-weight: 600;
}

.po__overview__graph__section {
  height: 57vh;
}

.po__graph__cards__container {
  display: flex;
  justify-content: space-around;
  margin-top: -80px;
}

.po__graph__cards__container > div {
  color: #f5f5f5;
  height: 150px;
  width: 20%;
  text-align: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.po__graph__cards__container > div:first-child {
  background: #ffa600;
}

.po__graph__cards__container > div:nth-child(2) {
  background: #ff6361;
}

.po__graph__cards__container > div:nth-child(3) {
  background: #bc5090;
}

.po__graph__cards__container > div:nth-child(4) {
  background: #58508d;
}

.card__header {
  padding: 25px 0;
  font-size: 15px;
}

.card__count {
  font-size: 30px;
  font-weight: 600;
}

.barchart__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backlog__count__area,
.estimation__chart {
  height: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.backlog__count__area {
  background: #e6e6e6;
}

.section2__header {
  margin-top: 20px;
  margin-left: 10%;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
}

.backlog__circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #0d95bc;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backlog__count {
  font-size: 35px;
  font-weight: 700;
}
